<!DOCTYPE html>
<html>
  <head>
    <title>MusicShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <p>gmcTest12.52sundaysssssdddddfffff</p>
    <p>gmcMondayEvening26/02/2018</p>
     <p>brainslug</p>

    <p> barry 27 past 3 SAT."</p>
    <p> Jacqueline to push to branch, jacqueline</p>

  <%= yield %>
  </body>
  
</html>
